header{
    display: grid;
    grid-template-columns: 1fr 10fr;
    text-align: center;
    border-bottom: 5px red solid;
}

main{
    display: grid;
    grid-template-columns: 1fr 5fr;
    text-align: center;
}

nav{
    text-align: center;
    border-right: 5px red solid;
}

article{
    gap: 5px;
    padding: 5px;
    text-align: center;
}
footer {
    border-top: 5px red solid;
}

.szoveg {
    display: grid;
    text-align: center;
    font-size: 20px;
}

img {

}
h2 {
    text-align: left;
}